
citc/platforms/android/.gradle/6.8/executionHistory/executionHistory.bin
citc/platforms/android/.gradle/6.8/executionHistory/executionHistory.lock
citc/platforms/android/.gradle/6.8/fileHashes/fileHashes.bin
citc/platforms/android/.gradle/6.8/fileHashes/fileHashes.lock
citc/platforms/android/.gradle/6.8/javaCompile/javaCompile.lock
citc/platforms/android/.gradle/6.8/javaCompile/taskHistory.bin
citc/platforms/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
citc/platforms/android/.gradle/buildOutputCleanup/outputFiles.bin
citc/platforms/android/.idea/vcs.xml
citc/platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
citc/platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Q1V2u9DHyJWYCABvj7NjKMV9_DQ=
citc/platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/q3vEZDlPdyiLSC8mzOQtx9ulqYU=
citc/platforms/android/app/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
citc/platforms/android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Q1V2u9DHyJWYCABvj7NjKMV9_DQ=
citc/platforms/android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/q3vEZDlPdyiLSC8mzOQtx9ulqYU=
citc/platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
citc/platforms/android/app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
citc/platforms/android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
citc/platforms/android/app/build/intermediates/incremental/mergeDebugResources/merger.xml
citc/platforms/android/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
citc/platforms/android/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
citc/platforms/android/app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-hdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-ldpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-mdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xxxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-hdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-ldpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-mdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xxxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-hdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-ldpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-mdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-xhdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-xxhdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-xxxhdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/values_values.arsc.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/xml_config.xml.flat
citc/platforms/android/app/build/outputs/apk/debug/app-debug.apk
citc/platforms/android/app/build/outputs/logs/manifest-merger-debug-report.txt
citc/platforms/android/.gradle/6.8/executionHistory/executionHistory.bin
citc/platforms/android/.gradle/6.8/executionHistory/executionHistory.lock
citc/platforms/android/.gradle/6.8/fileHashes/fileHashes.bin
citc/platforms/android/.gradle/6.8/fileHashes/fileHashes.lock
citc/platforms/android/.gradle/6.8/javaCompile/javaCompile.lock
citc/platforms/android/.gradle/6.8/javaCompile/taskHistory.bin
citc/platforms/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
citc/platforms/android/.gradle/buildOutputCleanup/outputFiles.bin
citc/platforms/android/.idea/vcs.xml
citc/platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
citc/platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/q3vEZDlPdyiLSC8mzOQtx9ulqYU=
citc/platforms/android/app/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
citc/platforms/android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/q3vEZDlPdyiLSC8mzOQtx9ulqYU=
citc/platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
citc/platforms/android/app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
citc/platforms/android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
citc/platforms/android/app/build/intermediates/incremental/mergeDebugResources/merger.xml
citc/platforms/android/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
citc/platforms/android/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
citc/platforms/android/app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-hdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-ldpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-mdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xxxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-hdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-ldpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-mdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xxxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-hdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-ldpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-mdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-xhdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-xxhdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-xxxhdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/values_values.arsc.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/xml_config.xml.flat
citc/platforms/android/app/build/outputs/apk/debug/app-debug.apk
citc/platforms/android/app/build/outputs/logs/manifest-merger-debug-report.txt
citc/platforms/android/.gradle/6.8/executionHistory/executionHistory.bin
citc/platforms/android/.gradle/6.8/executionHistory/executionHistory.lock
citc/platforms/android/.gradle/6.8/fileHashes/fileHashes.bin
citc/platforms/android/.gradle/6.8/fileHashes/fileHashes.lock
citc/platforms/android/.gradle/6.8/javaCompile/javaCompile.lock
citc/platforms/android/.gradle/6.8/javaCompile/taskHistory.bin
citc/platforms/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
citc/platforms/android/.gradle/buildOutputCleanup/outputFiles.bin
citc/platforms/android/.idea/vcs.xml
citc/platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
citc/platforms/android/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/q3vEZDlPdyiLSC8mzOQtx9ulqYU=
citc/platforms/android/app/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
citc/platforms/android/app/build/intermediates/incremental/debug-mergeNativeLibs/zip-cache/q3vEZDlPdyiLSC8mzOQtx9ulqYU=
citc/platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
citc/platforms/android/app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
citc/platforms/android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
citc/platforms/android/app/build/intermediates/incremental/mergeDebugResources/merger.xml
citc/platforms/android/app/build/intermediates/incremental/mergeDebugShaders/merger.xml
citc/platforms/android/app/build/intermediates/incremental/packageDebug/tmp/debug/dex-renamer-state.txt
citc/platforms/android/app/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-hdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-ldpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-mdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-land-xxxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-hdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-ldpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-mdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/drawable-port-xxxhdpi_screen.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-hdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-ldpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-mdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-xhdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-xxhdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/mipmap-xxxhdpi_icon.png.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/values_values.arsc.flat
citc/platforms/android/app/build/intermediates/res/merged/debug/xml_config.xml.flat
citc/platforms/android/app/build/outputs/apk/debug/app-debug.apk
citc/platforms/android/app/build/outputs/logs/manifest-merger-debug-report.txt
*.bin
citc/platforms/android/CordovaLib/build/.transforms/0b13e52386b204018e7969e33692f2d8/transformed/classes/classes.dex
citc/platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
citc/platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugShaders/merger.xml
citc/platforms/android/CordovaLib/build/intermediates/incremental/packageDebugAssets/merger.xml
citc/platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
citc/platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/merger.xml
citc/platforms/android/CordovaLib/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
citc/platforms/android/CordovaLib/build/outputs/logs/manifest-merger-debug-report.txt
citc/platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
citc/platforms/android/CordovaLib/build/intermediates/incremental/mergeDebugShaders/merger.xml
citc/platforms/android/CordovaLib/build/intermediates/incremental/packageDebugAssets/merger.xml
citc/platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
citc/platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/merger.xml
citc/platforms/android/CordovaLib/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
citc/platforms/android/CordovaLib/build/outputs/logs/manifest-merger-debug-report.txt
